.venv/
.vscode/
db.sqlite3
__pycache__
__pycache__/

.idea/
backend/logs/*.log
backend/logs/*.log.*
!**/backend/logs/LEER
*.log
**/static/*
!**/static/LEER
backend/.cache
backend/.bash_history
celerybeat-schedule
celerybeat.pid
backend/wuaki.xml

.DS_Store

htmlcov/
.coverage


sip2.log.*